<section class="about">
  <div class="titles">
    <h4>more about us</h4>
    <h3>Clinic Health & Wellnes</h3>
  </div>
  <ul class="baner">
    <li class="row">
      <img src="../../../assets/Baner1.png" class="biger" alt="Baner" />
      <img src="../../../assets/Baner3.png" class="smal" alt="Baner" />
    </li>
    <li class="row">
      <img src="../../../assets/Baner4.png" class="smal" alt="Baner" />
      <img src="../../../assets/Baner2.png" class="biger" alt="Baner" />
    </li>
  </ul>
  <ul class="about-content">
    <li class="about-content_img">
      <img src="../../../assets/content-img.jpg" alt="content-img" />
    </li>
    <li>
      <h4>How we work</h4>
      <h3>always here for you</h3>
      <ul class="about-content_list">
        <li *ngFor="let card of AboutCard">
          <div>
            <img [src]="card.image" [alt]="card.image" />
            <p>{{ card.title }}</p>
          </div>
          <p>{{ card.description }}</p>
        </li>
      </ul>
    </li>
  </ul>
</section>
