@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito";
  margin-top: 100px;

  .titles {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 816px;

    h4 {
      font-size: 27px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 40px;
      margin-bottom: 28px;
    }
  }

  .baner {
    width: 816px;

    .row {
      display: flex;
      justify-content: center;
      gap: 24px;
      max-height: 192px;
      height: 100%;
      margin-bottom: 12px;

      img {
        width: 100%;
        border-radius: 36px;
        border: 1px solid black;
      }

      .biger {
        flex: 2;
      }

      .smal {
        flex: 1;
      }
    }
  }

  &-content {
    width: 816px;
    display: grid;
    grid-template-columns: 312px 1fr;
    align-items: start;
    &_img {
      height: 672px;
      img {
        max-width: 100%;
        height: 100%;
      }
    }
  }
}
