<section class="Hero">
  <app-header> </app-header>
  <div class="Content">
    <div class="description">
      <div class="description-Logo">
        <img src="../../../assets/Logo.png" alt="Logo" />
        <p>
          We are a clinic dedicated to improving your overall health and
          wellness through personalized servises
        </p>
      </div>
      <h3>Expert Health Consultations</h3>
      <h3>Anytime, Anywheree</h3>
      <p class="description-p">
        <i>
          We are here to support you in every step of your wellness journey.
          Whether you seek to improve your physical fitness, mental well-being,
          or nutritional habits, our tailored services are designed to help you
          achieve your health goals
        </i>
      </p>
    </div>
    <div class="LinkContainer">
      <a href="#" class="Btn">discover our services</a>
    </div>
  </div>
</section>
